@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div><a asp-controller="HelloWorld" asp-action="GetData">Get Data :</a> <span> for Cancellation Test. Click this and after a while close the tab</span></div>
<div><a asp-controller="HelloWorld" asp-action="Logging">Logging Test :</a> <span>Creates all level log.</span></div>
<div><a asp-controller="HelloWorld" asp-action="Error">Error Test :</a><span>This action metod throw an exception intendently</span></div>
